@import "~bulma";

body{
  background-image: url("http://getwallpapers.com/wallpaper/full/3/8/4/1183962-healthy-food-wallpaper-1920x1080-for-android.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}