img{
  border-radius: 100%;
  max-width:25%;
  max-height: 25%;
}

.card{
  border: 6px solid #ddd;
  border-radius: 10px;
  margin-bottom:1em;
}

.card-header{
  justify-content: space-between;
}

.header-right>a{
  margin-right: 1em;
}